version: '3'
services:
  api:
    platform: linux/amd64
    container_name: api
    image: kasiapetka/mgr-prod:api
    ports: 
      - 3001:3001
    networks: 
      - net
    environment:
      - MONGO_URI=mongodb+srv://root:r00t@cluster0.msmbg.mongodb.net/mgr-opti?retryWrites=true&w=majority
  
  react:
    platform: linux/arm64
    container_name: react
    image: kasiapetka/mgr-prod:react
    ports:
      - 3000:3000
    networks:
      - net
    depends_on:
      - api

networks:
  net:
